.add-event-button {
    margin: 5px;
    margin-bottom: 20px;
}

.add-event-div {
    border-style: solid black 5px;
    margin: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
}